body {
    background-color: black;
    color: wheat;
    font-family: Arial, Verdana, sans-serif;
}

.album-art {
    height: auto;
    width: 500px;
}

.homepage-art {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    height: auto;
    width: 450px;
}

h1 {
    color: rgb(152, 194, 68);
    text-decoration: underline;
    font-weight: bold;
}

h3 {
    color: rgb(161, 46, 46);
    text-decoration: underline;
    font-weight: bold;
}

#homepage-heading {
    color: #a6b95f;
    background-color: black;
    border: 8px solid #a44741;
    text-align: center;
    width: 250px;
    padding: 15px;
    font-size: 42px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px; 
}

.homepage-div {
    border: 8px solid #a44741;
    width: 700px;
    height: auto;
    margin: auto;
    background-color: #4d654d;
} 

.homepage-list {
    margin: 10px auto;
    margin-bottom: 20px;
    border: 8px solid #a44741;
    width: 600px;
    background-color: black;
    color: #eaddc6;
}

a:link {
    color: #a6b95f;
}

a:hover {
    color: #4d654d;
}

a:visited {
    color: #a44741;
}



