body {
    background-color: black;
    color: wheat;
    font-family: Arial, Verdana, sans-serif;
}

.album-art {
    height: auto;
    width: 600px;
}

img {
    height: auto;
    width: 450px;
}

h1 {
    color: rgb(152, 194, 68);
    text-decoration: underline;
    font-weight: bold;
}

h3 {
    color: rgb(161, 46, 46);
    text-decoration: underline;
    font-weight: bold;
}